body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #00923F, #00662D);
  color: #f0f0f0;
  padding: 30px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2.2rem;
  color: #ffffff;
}

form {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 2px solid #ffffff22;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 15px #00923F55;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #00923F;
  background: transparent;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
}

input::placeholder {
  color: #cccccc;
}

button {
  padding: 12px 25px;
  background-color: #00923F;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}